<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}"
    xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="head">
    <style th:inline="css">
    </style>
</div>

<div layout:fragment="content">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
            <li class="breadcrumb-item" th:href="@{/admin/seat-types}">Seat Types</li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <h3>Seat Types Management</h3>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <a th:href="@{/admin/seat-types/create}" type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
                <i class="btn-icon-prepend" data-feather="plus-circle"></i>
                Create
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTableExample" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Seat Type</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Price(/km)</th>
                                    <th>Surcharge(%)</th>
                                    <th style="width: 60px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="seatType : ${seatTypes}">
                                    <td th:text="${seatType.seatTypeId}"></td>
                                    <td th:text="${seatType.seatType}"></td>
                                    <td>
                                        <span class="badge bg-primary" th:text="${seatType.code}"></span>
                                    </td>
                                    <td th:text="${seatType.description}"></td>
                                    <td>
                                        <span th:if="${seatType.price != null}" 
                                              th:text="${seatType.price.pricePerKm}">
                                        </span>
                                        <span th:unless="${seatType.price != null}" class="text-muted">N/A</span>
                                    </td>
                                    <td>
                                        <span th:if="${seatType.price != null}" 
                                              th:text="${seatType.price.surchargePercentage}">
                                        </span>
                                    </td>
                                    <td class="actions">
                                        <a th:href="@{/admin/seat-types/edit/{id}(id=${seatType.seatTypeId})}">
                                            <i class="btn-icon-prepend text-warning" data-feather="edit"></i>
                                        </a>
                                        <form th:action="@{/admin/seat-types/delete/{id}(id=${seatType.seatTypeId})}" 
                                              method="post" class="deleteForm">
                                            <div type="button" class="deleteBtn">
                                                <i class="btn-icon-prepend text-danger" data-feather="trash-2"></i>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Pagination section -->
                    <nav class="d-flex justify-content-between align-items-center mt-3">
                        <!-- Sizing -->
                        <div th:replace="~{/admin/fragments/_table-size}"></div>
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center">
                            <!-- Thêm nút về trang đầu -->
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/seat-types/index(page=0, size=${size})}"
                                    aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/seat-types/index(page=${currentPage - 1}, size=${size})}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="btn-icon-prepend" data-feather="chevron-left"></i>
                                    </span>
                                </a>
                            </li>

                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 and i <= totalPages - 1}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:text="${i + 1}"
                                    th:href="@{/admin/seat-types/index(page=${i}, size=${size})}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/seat-types/index(page=${currentPage + 1}, size=${size})}"
                                    aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="btn-icon-prepend" data-feather="chevron-right"></i>
                                    </span>
                                </a>
                            </li>

                            <!-- Thêm nút về trang cuối -->
                            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/seat-types/index(page=${totalPages - 1}, size=${size})}"
                                    aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Pagination -->
                    </nav>
                </div>
            </div>
        </div>
    </div>

    
    <!--  Success notifications -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div th:if="${not #lists.isEmpty(successMessages)}" class="toast show" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header bg-success text-white">
                <i class="bi bi-check-circle-fill me-2"></i>
                <strong class="me-auto">Success Notifications</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <ul class="list-unstyled m-0">
                    <li th:each="message : ${successMessages}" class="success-message">
                        <i class="bi bi-check2 me-2"></i>
                        <span th:text="${message}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>

<div layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            $('#dataTableExample').DataTable({
                "paging": false,
                "info": false,
            });

            $('.deleteBtn').on('click', function (e) {
                e.preventDefault();
                var form = $(this).closest('form');

                $.confirm({
                    title: 'Confirm deletion',
                    content: 'Are you sure you want to delete this item?',
                    type: 'red',
                    buttons: {
                        ok: {
                            text: 'OK',
                            btnClass: 'btn-danger',
                            action: function () {
                                form.submit();
                            }
                        },
                        cancel: {
                            text: 'Cancel',
                            action: function () {
                            }
                        }
                    }
                });
            });

            let popoverTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="popover"]'));
            let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl, {
                    html: true,
                    sanitize: false,
                    content: function () {
                        return document.querySelector(this.getAttribute('data-bs-content')).innerHTML;
                    }
                })
            })


            // Tự động ẩn toast sau 3 giây
            setTimeout(function () {
                $('.toast').toast('hide');
            }, 3000);

            // Khởi tạo toast
            $('.toast').toast({
                delay: 3000
            });
        });
    </script>
</div>

</html>