<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}"
    xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="head">
    <style th:inline="css">

    </style>
</div>

<div layout:fragment="content">

    <!-- breadcrumb -->
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
            <li class="breadcrumb-item" th:href="@{/admin/payments/}">payments</li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>

    <!-- title -->
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <h3>payments Management</h3>
    </div>

    <!-- table -->
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTableExample" class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th>Payment ID</th>
                                    <th>Booking ID</th>
                                    <th>Time</th>
                                    <th>Method</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th style="width: 60px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="payment : ${payments}">
                                    <td th:text="${payment.paymentId}"></td>

                                    <td>
                                        <a th:href="@{/admin/bookings/detail/{id}(id=${payment.booking.bookingId})}"
                                            class="text-decoration-none">
                                            <span class="badge bg-primary">
                                                <i class="bi bi-receipt me-1"></i>
                                                <span th:text="${'#' + payment.booking.bookingId}"></span>
                                            </span>
                                        </a>
                                    </td>

                                    <td th:text="${#temporals.format(payment.time, 'dd-MM-yyyy HH:mm')}"></td>

                                    <td>
                                        <span class="badge bg-info" th:text="${payment.method}">
                                        </span>
                                    </td>

                                    <td
                                        th:text="${#numbers.formatDecimal(payment.booking.totalPrice, 0, 'COMMA', 0, 'POINT')}">
                                    </td>

                                    <td>
                                        <span th:class="${
                                            payment.status == 'Paid' ? 'badge bg-success' : 
                                            payment.status == 'Pending' ? 'badge bg-warning' : 
                                            'badge bg-danger'}" th:text="${payment.status}">
                                        </span>
                                    </td>

                                    <td class="actions">
                                        <a th:href="@{/admin/payments/edit/{id}(id=${payment.paymentId})}">
                                            <i class="btn-icon-prepend text-primary" data-feather="eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav class="d-flex justify-content-between align-items-center mt-3">
                        <!-- Sizing -->
                        <div th:replace="~{/admin/fragments/_table-size}"></div>
                        <!-- Pagination -->
                        <ul class="pagination justify-content-center">
                            <!-- Thêm nút về trang đầu -->
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link" th:href="@{/admin/payments/index(page=0, size=${size})}"
                                    aria-label="First">
                                    <span aria-hidden="true">First</span>
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/payments/index(page=${currentPage - 1}, size=${size})}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="btn-icon-prepend" data-feather="chevron-left"></i>
                                    </span>
                                </a>
                            </li>

                            <li class="page-item" th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                th:if="${i >= 0 and i <= totalPages - 1}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:text="${i + 1}"
                                    th:href="@{/admin/payments/index(page=${i}, size=${size})}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/payments/index(page=${currentPage + 1}, size=${size})}"
                                    aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="btn-icon-prepend" data-feather="chevron-right"></i>
                                    </span>
                                </a>
                            </li>

                            <!-- Thêm nút về trang cuối -->
                            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/payments/index(page=${totalPages - 1}, size=${size})}"
                                    aria-label="Last">
                                    <span aria-hidden="true">Last</span>
                                </a>
                            </li>
                        </ul>
                        <!-- Pagination -->
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>

<div layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            $('#dataTableExample').DataTable({
                "paging": false,
                "info": false,
            });

            $('.deleteBtn').on('click', function (e) {
                e.preventDefault();
                var form = $(this).closest('form');

                $.confirm({
                    title: 'Confirm deletion',
                    content: 'Are you sure you want to delete this ticket?',
                    type: 'red',
                    buttons: {
                        ok: {
                            text: 'OK',
                            btnClass: 'btn-danger',
                            action: function () {
                                form.submit();
                            }
                        },
                        cancel: {
                            text: 'Cancel',
                            action: function () {
                            }
                        }
                    }
                });
            });

            // Tự động ẩn toast sau 3 giây
            setTimeout(function () {
                $('.toast').toast('hide');
            }, 3000);

            // Khởi tạo toast
            $('.toast').toast({
                delay: 3000
            });
        });
    </script>
</div>

</html>