<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}"
    xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">

    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
            <li class="breadcrumb-item" th:href="@{/admin/users}">Users</li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <h3>Users Management</h3>
        <a th:href="@{/admin/users/create}" type="button"
            class="btn btn-outline-primary btn-icon-text mr-2 d-none d-md-flex align-items-center justify-content-center">
            <i class="btn-icon-prepend" data-feather="plus"></i>
            <span>Create</span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th style="width: 60px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody th:if="${users}">
                                <tr th:each=" user : ${users}">
                                    <td th:text="${user.userId}"></td>
                                    <td th:text="${user.fullName}"></td>
                                    <td th:text="${user.gender}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td class="actions">
                                        <a th:href="@{/admin/users/detail/{id}(id=${user.userId})}">
                                            <i class="btn-icon-prepend text-primary" data-feather="eye"></i>
                                        </a>
                                        <a th:href="@{/admin/users/edit/{id}(id=${user.userId})}">
                                            <i class="btn-icon-prepend text-warning" data-feather="edit"></i>
                                        </a>
                                        <form th:action="@{/admin/users/delete/{id}(id=${user.userId})}" method="post"
                                            class="deleteForm">
                                            <div type="button" class="deleteBtn">
                                                <i class="btn-icon-prepend text-danger" data-feather="trash-2"></i>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <nav class="d-flex justify-content-between align-items-center mt-3">
                        <!-- Sizing -->
                        <div th:replace="~{/admin/fragments/_table-size}"></div>
                        <!-- Pagination -->
                        <!-- <div th:replace="~{/admin/fragments/_pagination}"></div> -->
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/users/index(page=${currentPage - 1}, size=${size})}"
                                    aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="btn-icon-prepend" data-feather="chevron-left"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:text="${i + 1}"
                                    th:href="@{/admin/users/index(page=${i}, size=${size})}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin/users/index(page=${currentPage + 1}, size=${size})}"
                                    aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="btn-icon-prepend" data-feather="chevron-right"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            $('#dataTableExample').DataTable({
                "paging": false,
                "info": false,

            });

            $('.deleteBtn').on('click', function (e) {
                e.preventDefault();
                var form = $(this).closest('form');

                $.confirm({
                    title: 'Xác nhận xóa',
                    content: 'Bạn có chắc chắn muốn xóa mục này?',
                    type: 'red',
                    buttons: {
                        ok: {
                            text: 'OK',
                            btnClass: 'btn-danger',
                            action: function () {
                                form.submit();
                            }
                        },
                        cancel: {
                            text: 'Hủy',
                            action: function () {
                            }
                        }
                    }
                });
            });
        });
    </script>
</div>

</html>