<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Admin Management Login</title>
    <!-- core:css -->
    <link rel="stylesheet" th:href="@{/vendors/core/core.css}"/>
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/fonts/feather-font/css/iconfont.css}"/>
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}"/>
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/demo_1/style.css}"/>
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
</head>

<body>
<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">
            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pr-md-0">
                                <div class="auth-left-wrapper"></div>
                            </div>
                            <div class="col-md-8 pl-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="#" class="noble-ui-logo d-block mb-2">
                                        Admin <span>Login</span>
                                    </a>
                                    <h5 class="text-muted font-weight-normal mb-4">
                                        Welcome back! Log in to your account.
                                    </h5>

                                    <div th:if="${param.error}" class="alert alert-danger">
                                            <span th:if="${#strings.equals(param.error, 'invalid_password')}">Invalid
                                                username or password!
                                            </span>
                                        <span th:if="${#strings.equals(param.error, 'user_not_found')}">User not
                                                found!</span>
                                        <span th:if="${#strings.equals(param.error, 'true')}">Login failed!</span>
                                    </div>

                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You have been logged out successfully.
                                    </div>

                                    <form action="/login" method="POST" class="forms-sample">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" id="username" name="username" class="form-control"
                                                   placeholder="Enter your username" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" id="password" name="password"
                                                   class="form-control" placeholder="Enter your password" required/>
                                        </div>
                                        <div class="form-check form-check-flat form-check-primary">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input"/> Remember me
                                            </label>
                                        </div>
                                        <div class="mt-3">
                                            <button type="submit"
                                                    class="btn btn-primary mr-2 mb-2 mb-md-0 text-white">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                    <a href="/forgot-password" class="d-block mt-3 text-muted">Forgot your
                                        password?</a>
                                    <a href="/register" class="d-block mt-3 text-muted">Not a user? Sign
                                        up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- core:js -->
<script th:src="@{/vendors/core/core.js}"></script>
<!-- inject:js -->
<script th:src="@{/vendors/feather-icons/feather.min.js}"></script>
<script th:src="@{/js/template.js}"></script>
</body>

</html>