<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{admin/layout/layout}">

<div layout:fragment="head">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style th:inline="css">

    </style>
</div>


<div layout:fragment="content">
    <div class="container-fluid mt-1">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item"><a th:href="@{${session.previousCarriagesPage}}">Carriages</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/carriages/edit/{id}(id=${car.carriageId})}">
                        <span
                            th:text="'Edit #' + ${car.train.trainNumber} + ' - ' + ${car.carriageId} + ' - ' + ${car.carNumber}"></span></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a th:href="@{/admin/carriages/{id}/seats(id=${car.carriageId})}">
                        <span th:text="'List Tickets of Carriage #' + ${car.carriageId}"></span></a>

                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span th:text="'Seat Information #' + ${seat.seatId}"></span>

                </li>

            </ol>
        </nav>

        <!-- seat information -->
        <div class="card" th:object="${seat}">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            <label for="seatNumber" class="form-label"><strong>Seat Number:</strong></label>
                            <input type="text" class="form-control" id="seatNumber" th:field="*{seatNumber}"
                                th:value="${seat.seatNumber}" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="compartmentNumber" class="form-label"><strong>Compartment
                                    Number:</strong></label>
                            <input type="text" class="form-control" id="compartmentNumber"
                                th:field="*{compartmentNumber}" readonly>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="seatTypeId" class="form-label"><strong>Seat Type:</strong></label>
                            <select id="seatTypeId" th:field="*{seatType.seatTypeId}" class="form-select select2"
                                aria-label="Choose Seat Type" disabled>
                                <option value="" th:value="-1" disabled>Choose Seat Type</option>
                                <option th:each="seatType : ${getSeatTypes}" th:value="${seatType.seatTypeId}"
                                    th:text="${seatType.seatType + ' (' + seatType.code + ')'}"
                                    th:data-code="${seatType.code}" th:data-description="${seatType.description}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label for="floor" class="form-label"><strong>Floor:</strong></label>
                            <input type="text" class="form-control" id="floor" th:field="*{floor}" readonly>
                        </div>
                        <div class="form-group mt-3">
                            <label for="status" class="form-label"><strong>Status of seat:</strong></label>
                            <div>
                                <span th:class="${seat.status ? 'badge bg-danger' : 'badge bg-success'}"
                                    th:text="${seat.status ? 'Locked' : 'Available'}"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="status" class="form-label"><strong>Status of seat in carriage:</strong></label>
                            <div>
                                <span th:class="${statusOfSeatInCarriage ? 'badge bg-danger' : 'badge bg-success'}"
                                    th:text="${statusOfSeatInCarriage ? 'Locked' : 'Available'}"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- tabs -->
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tickets-tab" data-bs-toggle="tab" data-bs-target="#tickets"
                type="button" role="tab" aria-controls="tickets" aria-selected="true">Tickets</button>
        </li>

    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <!-- <th>Ticke Type ID</th> -->
                        <th>Booking Date</th>
                        <th>Booking ID</th>
                        <th>User Name</th>
                        <th>Passenger</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th style="width: 60px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr onclick="" class="cursor-pointer" th:each="ticket : ${tickets}">
                        <td th:text="${ticket.ticketId}"></td>
                        <!-- <td th:text="${ticket.ticketTypeId}"></td> -->
                        <td th:text="${ticket.bookingDate}"></td>
                        <td th:text="${ticket.booking != null ? ticket.booking.bookingId : ''}"></td>
                        <td
                            th:text="${ticket.booking != null && ticket.booking.user != null ? ticket.booking.user.username : ''}">
                        </td>
                        <td th:text="${ticket.passenger != null ? ticket.passenger.identityCardNumber : ''}"></td>
                        <td th:text="${ticket.price}"></td>
                        <td>
                            <span th:class="${ticket.status == 'Active' ? 'badge bg-success' : 'badge bg-danger'}"
                                th:text="${ticket.status}"></span>
                        </td>

                        <td>
                            <a th:href="@{/admin/tickets/edit/{id}(id=${ticket.ticketId})}">
                                <i class="bi bi-box-arrow-up-right text-primary"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

<div layout:fragment="scripts">

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
        });

    </script>

</div>


</html>