<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{admin/layout/layout}">

<div layout:fragment="head">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</div>

<div layout:fragment="content">
    <div class="container-fluid mt-1">
        <nav class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/seats/index}">Seats</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create New Seat</li>
            </ol>
        </nav>

        <div class="row mb-2">
            <div class="col-md-4 d-flex align-items-center">
                <a th:href="@{${session.previousSeatsPage}}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left me-1"></i>Back
                </a>
                <h3 class="d-inline-block me-2 ms-3">Create New Seat</h3>
            </div>
        </div>

        <form id="seatDetailForm" class="card" th:action="@{/admin/seats/store}" th:object="${seat}" method="post">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="seatNumber" class="form-label"><strong>Seat Number:</strong></label>
                            <input type="text" class="form-control" id="seatNumber" th:field="*{seatNumber}">
                            <span th:if="${#fields.hasErrors('seatNumber')}" th:errors="*{seatNumber}"
                                class="text-small text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="compartmentNumber" class="form-label"><strong>Compartment Number:</strong></label>
                            <input type="text" class="form-control" id="compartmentNumber" th:field="*{compartmentNumber}">
                            <span th:if="${#fields.hasErrors('compartmentNumber')}" th:errors="*{compartmentNumber}"
                                class="text-small text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="seatTypeId" class="form-label"><strong>Seat Type:</strong></label>
                            <select id="seatTypeId" th:field="*{seatType.seatTypeId}" class="form-select select2"
                                aria-label="Choose Seat Type">
                                <option value="" th:value="-1" disabled>Choose Seat Type</option>
                                <option th:each="seatType : ${getSeatTypes}" th:value="${seatType.seatTypeId}"
                                    th:text="${seatType.seatType + ' (' + seatType.code + ')'}"
                                    th:data-code="${seatType.code}" th:data-description="${seatType.description}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('seatType.seatTypeId')}" th:errors="*{seatType.seatTypeId}"
                                class="text-small text-danger"></span>
                            <span th:if="${errorMap.containsKey('seatType')}" th:text="${errorMap.get('seatType')}"
                                class="text-small text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="floor" class="form-label"><strong>Floor:</strong></label>
                            <input type="text" class="form-control" id="floor" th:field="*{floor}">
                            <span th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}"
                                class="text-small text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="status" class="form-label"><strong>Status:</strong></label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="statusFalse"
                                    th:field="*{status}" th:value="0" checked>
                                <label class="form-check-label badge bg-success" for="statusFalse">
                                    Available
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="status" id="statusTrue"
                                    th:field="*{status}" th:value="1">
                                <label class="form-check-label badge bg-danger" for="statusTrue">
                                    Locked
                                </label>
                            </div>
                            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                class="text-small text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-plus-circle me-1"></i>Create
                </button>
            </div>
        </form>
    </div>

    <!--  notifications -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div th:if="${errorMap.containsKey('generalError')}" class="toast show" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="toast-header bg-danger text-white">
                <i class="bi bi-exclamation-circle-fill me-2"></i>
                <strong class="me-auto">Error Notifications</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <ul class="list-unstyled m-0">
                    <li class="success-message">
                        <i class="bi bi-x-circle me-2"></i>
                        <span th:text="${errorMap.get('generalError')}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            // Tự động ẩn toast sau 3 giây
            setTimeout(function () {
                $('.toast').toast('hide');
            }, 3000);

            // Khởi tạo toast
            $('.toast').toast({
                delay: 3000
            });
        });
    </script>
</div>

</html>