<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout/layout}"
    xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">

    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
            <li class="breadcrumb-item" th:href="@{/admin/railway-network}">Railway-Networks</li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <h3>Railway Network Management</h3>
        <a th:href="@{/admin/railway-network/create}" type="button"
            class="btn btn-outline-primary btn-icon-text mr-2 d-none d-md-flex align-items-center justify-content-center">
            <i class="btn-icon-prepend" data-feather="plus"></i>
            <span>Create</span>
        </a>
    </div>
    <!-- Kiểm tra nếu có thông báo thành công -->
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>departure_station</th>
                                    <th>destination_station</th>
                                    <th style="width: 60px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody th:if="${railwayNetworks}">
                                <tr th:each="railwayNetwork : ${railwayNetworks}">
                                    <td th:text="${railwayNetwork.railwayId}"></td>
                                    <td th:text="${railwayNetwork.name}"></td>
                                    <td th:text="${railwayNetwork.departureStation.stationName}"></td>
                                    <td th:text="${railwayNetwork.destinationStation.stationName}"></td>
                                    <td class="actions">
                                        <a
                                            th:href="@{/admin/railway-network/detail/{id}(id=${railwayNetwork.railwayId})}">
                                            <i class="btn-icon-prepend text-primary" data-feather="eye"></i>
                                        </a>
                                        <a
                                            th:href="@{/admin/railway-network/edit/{id}(id=${railwayNetwork.railwayId})}">
                                            <i class="btn-icon-prepend text-warning" data-feather="edit"></i>
                                        </a>
                                        <form
                                            th:action="@{/admin/railway-network/delete/{id}(id=${railwayNetwork.railwayId})}"
                                            method="post" class="deleteForm">
                                            <div type="button" class="deleteBtn">
                                                <i class="btn-icon-prepend text-danger" data-feather="trash-2"></i>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <nav class="d-flex justify-content-between align-items-center mt-3">
                        <!-- Sizing -->
                        <div th:replace="~{/admin/fragments/_table-size}"></div>
                        <!-- Pagination -->
                        <div
                            th:replace="/admin/fragments/_pagination :: pagination(url='/admin/railway-network/index', currentPage=${currentPage}, size=${size}, totalPages=${totalPages})">
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            $('#dataTableExample').DataTable({
                "paging": false,
                "info": false,
            });
            $('.deleteBtn').on('click', function (e) {
                e.preventDefault();
                var form = $(this).closest('form');
                $.confirm({
                    title: 'Xác nhận xóa',
                    content: 'Bạn có chắc chắn muốn xóa mục này?',
                    type: 'red',
                    buttons: {
                        ok: {
                            text: 'Delete',
                            btnClass: 'btn-danger',
                            action: function () {
                                form.submit();
                            }
                        },
                        cancel: {
                            text: 'Hủy',
                            action: function () {
                            }
                        }
                    }
                });
            });
        });
    </script>
</div>

</html>