<!-- color-modes:js -->
<script th:src="@{/js/color-modes.js}"></script>
<!-- endinject -->

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet"
/>
<!-- End fonts -->

<!-- core:css -->
<link rel="stylesheet" th:href="@{/css/core.css}"/>
<!-- endinject -->

<!-- Plugin css for this page -->
<link rel="stylesheet" th:href="@{/css/flatpickr.min.css}"/>
<!-- End plugin css for this page -->

<!-- inject:css -->
<link rel="stylesheet" th:href="@{/css/iconfont.css}"/>

<link
        rel="stylesheet"
        th:href="@{/vendors/datatables.net-bs4/dataTables.bootstrap4.css}"
/>
<!-- jquery-confirm -->
<link rel="stylesheet" th:href="@{/vendors/jquery-confirm/jquery-confirm.min.css}">

<!-- endinject -->

<!-- Layout styles -->
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/admin/style.css}"/>
<!-- End layout styles -->