<div th:fragment="pagination(url, currentPage, size, totalPages)" th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
            <a class="page-link" th:href="@{${url}(page=${currentPage - 1}, size=${size})}" aria-label="Previous">
                <span aria-hidden="true">
                    <i class="btn-icon-prepend" data-feather="chevron-left"></i>
                </span>
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
            <a class="page-link" th:text="${i + 1}" th:href="@{${url}(page=${i}, size=${size})}">1</a>
        </li>
        <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
            <a class="page-link" th:href="@{${url}(page=${currentPage + 1}, size=${size})}" aria-label="Next">
                <span aria-hidden="true">
                    <i class="btn-icon-prepend" data-feather="chevron-right"></i>
                </span>
            </a>
        </li>
    </ul>
</div>